@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "GeistSans", Arial, sans-serif;
  --font-geist-mono: "GeistMono", Menlo, monospace;
}

html {
  font-family: var(--font-geist-sans);
}

code, pre {
  font-family: var(--font-geist-mono);
}